[main]
productive=On
enableirc=On
enablewebserver=Off
commandprefix=!

[openttd]
nickname=openttd-bot
revision=norev000
uniqueid=a4782b224f3cc3fb94743f992f19fb40
quitmessage=The openttd-bot flies away!

[irc]
autojoin=on
usecolors=on
#server=blueyonder.uk.quakenet.org
server=irc.oftc.net
nickname=openttd-bot
#channel=#openttdserver.de
channel=#openttd-python
quitmessage=bot shutting down ...

[webserver]
port=8080

[irccommands]
ping=pong
pong=ping
ding=dong
dong=ding
